@mixin size ($width, $height, $padding) {
    width: $width;
    height: $height;
    padding: $padding;
  }
  
  @mixin flexboxsize ($width, $height, $padding, $display, $justify-content) {
    width: $width;
    height: $height;
    padding: $padding;
    display: $display;
    justify-content: $justify-content;
  }

  @mixin cellphonecards ($flex-flow,$width,$height){
    flex-flow: $flex-flow;
    width: $width;
    height: $height;
  }

  @mixin cellphonesize ($width,$height){
    width: $width;
    height: $height;
  }



  @mixin cellphonecardsV ($display,$flex-flow,$aling-content,$width,$height){
    display: $display;
    flex-flow: $flex-flow;
    align-content: $aling-content;
    width: $width;
    height: $height;
  }

  @mixin cellphonecardsH ($display,$flex-flow,$justify-content,$aling-items,$width,$height){
    display: $display;
    flex-flow: $flex-flow;
    justify-content: $justify-content;
    align-items: $aling-items;
    width: $width;
    height: $height;
  }

  @mixin cellphonecardsitemsV ($position,$min-width,$display,$justify-content,$aling-items,$width,$height){
    position: $position;
    min-width: $min-width;
    display: $display;
    justify-content: $justify-content;
    align-items: $aling-items;
    width: $width;
    height: $height;
  }