$ancho:1200px;
$color-blue:#4285f4;
$color-green:#33d374;
$vista:max-width 768px;


//GALLERY

$img-size:200px;
$gap-size: 1rem;
$breakpoints:("small": 320px, "medium": 768px, "large": 1024px) !default;


//REDES
$redes:(
    facebook:rgb(0, 0, 0),
    instagram:rgb(0, 0, 0),
    twitter:lightblue
);

//COLORES
$backc-princi:#e2e5ec;
$backc-header:#3da9d4;
$backc-hsubmenus:#f9f9f9;
$backc-cards:#e2e5ec;
$backc-cardsdetails:#3da9d4;
$backc-cardsdetailindex:#4ba9e9;
$backc-boton:#54c4f4;
$backc-slidetxt:#cad1d1;
$backc-slidetxta:#3da9d4;
$backc-categoryul:#4ba9e9;
$backc-btncarritop:black;
$backc-footermovil:#3b4041;
$color-bordecarritop:white;
$color-bordepbnr:#3da9d4;
$color-textos:#fbfbfb;
$color-textostitu:#505456;
$color-textoslidert:#fff1f1;
$color-textoshsubme:black;
$color-headhover:#687273;
$color-submehhover:#687273;
$color-active:#244e73;
$color-bordeflechita:#e2e5ec;
$gradient-cardspro:linear-gradient(
    to bottom,#e2e5ec,#d8e2ee,#cadfee,#bbdeec,#acdce7,
    #9ed7e2,#90d3dd,#82ced8,#70c5d7,#5ebcd6,#4db3d5,
    #3da9d4);
$gradient-foslider:linear-gradient(white, black);
$gradient-footera:linear-gradient(to right, #845ec2, #7a59ac, 
#6f5596, #655081, #5a4b6d, #5d506c, #60566c, #635b6b,
#756d7e, #898091, #9c94a5, #b0a8b9);//no lo aplica al texto

//CONDICIONALES

$vista:mobile;
@if $vista == tablet {
    #activo{$color:#142125;}}
@else if $vista == mobile{
    $color:#3b4041;}
@else {
    $color:#3da9d4;}

