$ancho:1200px;
$color-blue:#4285f4;
$color-green:#33d374;
$vista:desktop;
$vista:mobile;
$vista:max-width 768px;


//GALLERY

$img-size:200px;
$gap-size: 1rem;
$breakpoints:("small": 320px, "medium": 768px, "large": 1024px) !default;
